h3{
    font-family: Calibri; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:rgb(42, 15, 218);
    text-align: center; 
    text-decoration: underline
  }
  
  table{
    font-family: Calibri; 
    color:white; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;
    background-color: rgb(107, 183, 255); 
    border-collapse: collapse; 
    border: 2px solid navy;
    width: 100%;
  }
  table.inner{
    border: 0px
  }