.vert-align {
    top: -35px;
    position: fixed;
    z-index:50;
    width: 100%;
    background-color:white;
}

.image-slider {
    width: 100%;
    background-color:white;
    padding-top: 7%;
}

.footer-icon {
    height: auto;
    width: 100%; 
    margin-top: 20%;
}